---
import { basics } from "@cv"

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>.
            <span>
                <!--Robar un iconito para el CV -->
                {city}, {region}
            </span>
            <footer>
                {
                    email && (
                        <a
                            href={'mailto:${email}'}
                            title={'Enviar un correo a ${name} al correo ${email}'}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            ✉️
                        </a>
                    )
                }
            </footer>
        </div>
        <figure>
            <!--Imagen de mi -->
        </figure>
    </div>
</section>

<style>
    .container{

    }
</style>